@media (max-width: 1200px) {
    .price {
        &__plan {
            width: 280px;
            padding-bottom: 100px;
            min-height: 410px;
        }
        &__items {
            li {
                font-size: 20px;
            }
        }
        &__subtitle {
            font-size: 20px;
        }
    }
    .button{
        &__price {
            bottom: 30px
        }
    }
}
@media (max-width: 992px) {
    .header-another-pages_price, .navigation-another-pages_price {
        background: url('../../../img/price/price-main.jpg') 0px -110px no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
}
@media (max-width: 767px) {
    .price {
        &__plan {
            width: 340px;
        }
        &__wrapper-for-search{
            margin-top: 30px;
        }
        &__wrapper-for-search {
            width: 320px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            button {
                margin-top: 15px;
            }
        }
        &__wrapper {
            justify-content: center;
            gap: 35px;
        }
    }
}