@media (max-width: 1200px) {
    .price {
        &__title-and-search {
            margin-top: 50px;
            flex-direction: column-reverse;
        }
        &__title {
            font-size: 22px;
            margin-top: 50px;
        }
        &__wrapper {
            margin-top: 20px;

        }
    }
}
@media (max-width: 992px) {
    .price {
        &__wrapper-for-search {
            margin-top: 0;
        }
    }
}
@media (max-width: 767px) {
    .header-another-pages_price, .navigation-another-pages_price {
        background: url('../../img/price/price-main.jpg') 0px -110px no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
    .price {
        &__wrapper-for-search {
            margin-right: auto;
            width: 320px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        &__wrapper {
            justify-content: center;
        }
        &__button {
            height: 38px;
            width: 104px;
            font-size: 10px;
            padding: 0px 5px;
            &:hover {
                font-size: 8px;
            }
        }
        &__title {
            font-size: 20px;
            p {
                font-size: 65px;
            }
        }
        &__plan {
            min-height: 410px;
            padding-bottom: 30px;
        }
        &__head {
            font-size: 26px;
            h4 {
                font-size: 19px;
            }
        }
        &__symbol {
            font-size: 18px;
            bottom: 17px;
        }
        &__subtitle {
            font-size: 18px;
            margin-top: 20px;
        }
        &__items {
            margin-top: 30px;
            li {
                font-size: 16px;
            }
        }
    }
}