@media (max-width: 1200px) {
    .navigation-another-pages {
        &__item {
            font-size: 22px;
            line-height: 35px;
        }
        &__logo {
            width: 100px;
            height: 46px;
        }
        &__icon a {
            width: 35px;
            height: 35px;
        }    
    }
    .benefit {
        &__description {
            width: 400px;
            margin-top: 40px;
        }
        &__img {
            width: 400px;
        }
    }
}
@media (max-width: 992px) {
    .navigation-another-pages {
        &__logo {
            width: 80px;
            height: 37px;
        }
        &__icon a {
            margin: 0 5px;
        }    
    }
    .header-another-pages {
        height: 300px;
        padding: 50px 0;
        h2 {
            font-size: 38px;
        }
    }
    .benefit {
        &__description {
            width: 350px;
            margin-top: 0;
            left: 0;
            h3 {
                font-size: 26px;
            }
        }
        &__text {
            font-size: 16px;
        }
        &__img {
            width: 350px;
            height: 400px;
        }
    }
}
@media (max-width: 767px) {
    .navigation-another-pages {
        &__wrapper {
            height: 70px;
        }
        &__icon {
            display: none;
        }
        &__hamburger {
            display: block;
        }
    }
    .header-another-pages {
        margin-bottom: 0;
        h2 {
            font-size: 30px;
            max-width: 700px;
        }
    }
    .header-another-pages_about, .navigation-another-pages_about{
        background: url('../../img/about/about-main.jpg') 0px -110px no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
    .slider {
        margin-top: 50px;
        &__wrapper {
            margin-top: 30px;
        }
        &__wrapper {
            display: block;
        }
        &__slide {
            height: 300px;
            margin: 10px 0;
            & h3 {
                opacity: 1;
                font-size: 20px;
            }
        }
    }
    .benefit {
        margin-top: 50px;
        &__wrapper {

        }
        &__item {
            flex-direction: column;
            &:nth-child(2) {
                flex-direction: column-reverse;
            }

        }
        &__description {
            width: 100%;
            margin-bottom: 15px;
            p {
                font-size: 20px;
            }
            h3 {
                font-size: 22px;
                margin-top: 0;
            }
        }
        &__text {
            font-size: 13px;
        }
        &__img {
            width: 100%;
            height: 330px;
        }
    }
}