.header-another-pages {
    padding-top: 100px;
    height: 400px;
}

.header-another-pages, .navigation-another-pages{
    background: url('../../img/contacts/contacts-main.jpg') center (center/cover) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
