.navigation{
    background-color: #949497;
    &__wrapper{
        display: flex;
        align-items:center;
        justify-content: space-between;
        height: 106px;
    }
    &__logo{
        display: inline-block;
    }
    &__icon{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 140px;
        :hover {
            color: #ffe4e4;
        }
    }
    &__line{
        height: 1px;
        background-color: #fff;
    }
}
