.header-another-pages, .navigation-another-pages{
    background: url('../../img/contacts/contacts-main.jpg') center (center/cover) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.header-another-pages_about, .navigation-another-pages_about{
    background: url('../../img/about/about-main.jpg') center (center/cover) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}