@import '../libs/fonts';
@import '../libs/slick';
@import '../libs/reset';

* {
    font-family: 'Gilroy', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

@import '../variables/icons';
@import '../variables/title';
@import '../variables/icons';
@import '../variables/title';
@import '../variables/button';
@import '../variables/up';
@import '../blocks/main-img';
@import '../blocks/header-another-pages';
@import '../blocks/menu';
@import '../blocks/footer';
@import '../blocks/navigation-another-pages';
@import '../blocks/index/navigation';
@import '../blocks/index/coach';
@import '../blocks/index/header';
@import '../blocks/index/courts';
@import '../blocks/index/club';
@import '../blocks/index/assist';
@import '../blocks/contacts/contacts';
@import '../blocks/about/slider';
@import '../blocks/about/benefit';
@import '../blocks/price/price';
@import '../blocks/kids/kids';
@import '../blocks/personal/personal';
@import '../blocks/group/group';
@import '../blocks/news/news';
