.navigation{
    &__wrapper{
        display: flex;
        align-items:center;
        justify-content: space-between;
        height: 106px;
    }
    &__logo{
        display: inline-block;
    }
    &__icon{
        cursor: pointer;
        display: flex;
        a{
            width: 50px;
            height: 50px;
            text-decoration: none;
            text-align: center;
            border-radius: 50%;
            box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.10);
            position: relative;
            margin: 0 15px; 
            overflow: hidden;
            transition: transform 0.5s;
            
            &::after{
                content:'';
                width: 100%;
                height: 100%;
                top: -90px;
                left: 0;
                background: #ffe4e4;
                position: absolute;
                transition: 0.5s;             
            }
            &:hover::after{
                top: 0;
            }
            &:hover .navigation__item {
                color: rgb(0, 0, 0);
            }
            &:hover{
                transform: translateY(-5px);
            }
        }
    }
    &__item{
        font-size: 30px;
        line-height: 50px;
        position: relative;
        z-index: 10;
        transition: color 0.5s;
    }
    &__line{
        height: 1px;
        background-color: #fff;
    }
}
